@font-face {
    font-family:AmazonEmber_Rg ;
    src: url(/font/AmazonEmber_Rg.ttf); /*Fuente de Amazon*/
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
    /*hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja 
    y no lo suman posteriormente.
    */
    font-family: AmazonEmber_Rg; 
}

body{
    
    background-color: #0f171e;
    font-weight: 700;
}
/*Barra de navegacion*/
.logo{
    width: 112px;
    
}
header{
    background-color: #19232e;
    /*padding: 30px 0;*/
    width: 100%;
    padding: 1em 3em;
    font-size: 15px;
    position: fixed;
    z-index: 10;
}
.nav-contenedor{
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center ; /*centrar verticalmente*/
    justify-content: space-between;
    padding-right: 30px;


}
.nav-contenedor-2{
    display: flex;
    align-items: center;
}
.nav-contenedor-3{
    display: flex;
    align-items: center;
}
nav{
    padding: 0px 16px;
}
header nav a{
    margin-left: 12px;
    color: rgb(211 214 218);
    text-decoration: none;
    
}
header nav a:hover{
    color: rgb(255, 255, 255);
}
header nav a.activo{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: bold;
}
.buscador{
    
    width: 250px;
    height: 40px;
    border-color: #8197a4;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
}
.buscador ::placeholder{
    color: #8197a4 ;
    font-weight: normal ; 
    
}
.buscar{
    border: 0;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    color: rgb(211 214 218);
    font-size: 15px;
    cursor: pointer;
}

.image_buscar{
    
    padding: 0px 7px;
}

header .nav-contenedor .buscador:hover{
    border: 1px solid rgb(211 214 218);
}
.cuenta{
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.image-cuenta{
    height: 32px;
    width: 32px;
}

.usuario{
    color:rgb(211 214 218) ;
    text-decoration: none;
    padding-left: 10px;
}

.usuario:hover{
    color: rgb(255, 255, 255);
}


/*Carrusel principal*/
.caja-truco{
    height: 100px;
    display: none;

}
#slider {
    
    margin: 0 auto;
    height: 400px;
    width: auto;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 60px 0 0 0;
    
    
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
 }
 #slides .slide_1 {
    background-image: url(https://m.media-amazon.com/images/S/sonata-images-prod/SVOD_ROW_Joker_V2/dac4619c-5359-4659-9ea8-e8c2229f7cf4._UR3000,600_SX1500_FMwebp_.jpeg);
    background-size: cover;
 }
 #slides .slide_2 {
    background-image: url(https://m.media-amazon.com/images/S/sonata-images-prod/SVOD_ROW_TheGoodDoctor_S4_PartB/5db1687c-0c3f-4da1-87f9-f425aa81a17c._UR3000,600_SX1500_FMwebp_.jpeg);
    background-size: cover;
 }
 #slides .slide_3 {
    background-image: url(https://m.media-amazon.com/images/S/sonata-images-prod/SVOD_ROW_UAP_Teaser_Scene/322d2e60-c7aa-4fd1-9947-da66763c379f._UR3000,600_SX1500_FMwebp_.jpeg);
    background-size: cover;
 }
 #slides .slide_4 {
    background-image: url(https://m.media-amazon.com/images/G/01/digital/video/sonata/svod_row_howimetyourmother_s9/e785b048-20ff-47b3-af82-a64a000c1dab._UR3000,600_SX1500_FMwebp_.jpg);
    background-size: cover;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
  
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 /*Flechas*/
 /*:nth-child: coincide con uno o más elementos en función de su posición entre un grupo de hermanos.*/
 #slide1:checked ~ #controls label:nth-child(2), 
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0Ljc2MyAxNy4yMzd2LTIuNDc0bC0xNCAxNGExLjc0OCAxLjc0OCAwIDAwMCAyLjQ3NGMuNjgzLjY4NCAxLjc5LjY4NCAyLjQ3NCAwbDE0LTE0YTEuNzQ4IDEuNzQ4IDAgMDAwLTIuNDc0bC0xNC0xNEExLjc1IDEuNzUgMCAwMC43NjMgMy4yMzdsMTQgMTR6IiBmaWxsPSIjRUZGMUYxIi8+PC9zdmc+) no-repeat;
    float:right;
    margin: 0 -10px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(1),
 #slide2:checked ~ #controls label:nth-last-child(4),
 #slide3:checked ~ #controls label:nth-last-child(3),
 #slide4:checked ~ #controls label:nth-last-child(2) {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTMuMjM3IDE3LjIzN3YtMi40NzRsMTQgMTRjLjY4NC42ODMuNjg0IDEuNzkgMCAyLjQ3NGExLjc0OCAxLjc0OCAwIDAxLTIuNDc0IDBsLTE0LTE0YTEuNzQ4IDEuNzQ4IDAgMDEwLTIuNDc0bDE0LTE0YTEuNzQ4IDEuNzQ4IDAgMDEyLjQ3NCAwYy42ODQuNjgzLjY4NCAxLjc5IDAgMi40NzRsLTE0IDE0eiIgZmlsbD0iI0VGRjFGMSIvPjwvc3ZnPg==) no-repeat;
    float:left;
    margin: 0 0 0 20px;
    display: block;
 }
 /*Puntos debajo de carrusel*/
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    border-radius: 100px;
    width: 10px;
    height: 10px;
    background: #444;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #ccc;
 }

 
/*Carruseles secundarios*/
.img-movie{
    width: 100%;
    object-fit: contain; /*se redimenziona al contenedor, mantiene su aspecto*/
    max-height: 180px;
    margin-right: 10px;
    transition: transform 450ms;
}

.movies-img{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px 20px 30px 20px;
}
.img-movie:hover{
    transform: scale(1.09);
}

.movies-img::-webkit-scrollbar{
    display: none;
}

.movies{
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    
    line-height: 24px;
    font-weight: 700;
}

/*footer*/
footer{
    display: inline-block;
    padding: 24px;
    font-size: 13px;
    text-align: center;
    width: 100%;
    color: #8197a4;
}

footer .logo{
    display: inline-block;
    height: 32px;
}
footer ul{
    width: 100%;
    display: flex;
    justify-content: center;
    
    

}

footer li{
    white-space: normal;
    list-style: none;
    padding: 0 5px;
}

footer li a{
    text-decoration: none;
    color: #79b8f3;
}


/*Media queries maximo width 900px*/
 @media screen and (max-width: 900px) {
     *{
         margin: 0;
         padding: 0;
     }
     header{
         padding: 12px 20px;
     }
     .nav-contenedor{
         padding-left: 10px;
         
     }
     .nav-contenedor-2{
        width: 115px;
        height: 12px;
     }  
     .nav-contenedor-2 nav{
         display: none;
     }
    
     .nav-contenedor-2 .logo{
         width: 85px;
     }
     .nav-contenedor-3{
         width: 170px;
         padding-left: 20px;
         padding-right: 20px;
         
     }
     .nav-contenedor-3 .buscador{
         width: 150px;
     }
     .nav-contenedor-3 .buscador .buscar{
         width: 70px;
         font-size: 13px;
     }
     .nav-contenedor-3 .cuenta{
         
         padding-right: 20px;
     }

     .nav-contenedor-3 .cuenta .image-cuenta{
         width: 24px;
         height: 24px;
     }
     .nav-contenedor-3 .usuario{
         display: none;
     }
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slider{
        height: 120px;
    }
    #slides {
       margin: 0 auto;
    }
    #slides .slide_1 {
        
        background-size: cover;
        height: 80px;
     }
     #slides .slide_2 {
        height: 80px;
        background-size: cover;
     }
     #slides .slide_3 {
        height: 80px;
        background-size: cover;
     }
     #slides .slide_4 {
        height: 80px;
        background-size: cover;
     }

     #bullets {
        margin: 20px  0;
        padding: 20px 0;
        
     }
     #bullets label {
         height: 5px;
         width: 5px;
     }
     #controls {
        margin: -280px 0 0 0;
    }
    .caja-truco{
        display: block;
    }
    .movies{
        margin-top: 15px;
        font-size: 11px;
    }
    footer{
        
        justify-content: center;
        
    }
    footer ul{
        font-size: 12px;
        
        flex-direction: column;
        
    }
    footer ul li{
        display: inline;
        padding: 4px;
    }
}